[run]
source=podcastista
omit =
    podcastista/__main__.py
    podcastista/consts.py
    podcastista/server.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
